#cover-art {
    height: 300px;
    width: 300px;
    border: 1px black solid;
}

#columns {
    display: flex;
    padding: 25px 0 ;
}

#index-bar {
    float: 4;
    text-align: left;
    padding-right: 25px;
    border-right: 5px black dotted;
}

#info-bar {
    float: 6;
    text-align: left;
    padding-left: 25px;

}

#discription {
    height: 500px;
    padding: 5px 25px;
    overflow-y: scroll;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: black transparent; /* Firefox */
    border: 1px black solid;
}
    #discription p {
        max-width: 300px;
    }
        #discription::-webkit-scrollbar {
            width: 3px;
            background-color: transparent;
        }
        #discription::-webkit-scrollbar-track {
            background-color: transparent;
        }
        #discription::-webkit-scrollbar-thumb {
            background-color: black;
        }
#scroll {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}

#back {
    justify-content: left;
    margin-left: -15px;
}

@media screen and (max-width: 850px) {

    #cover-art {
        height: 200px;
        width: 200px;
        
    }
    
    #columns {
        display: block;
    }
    
    #index-bar {
        float: none;
        text-align: left;
        border-bottom: 5px black dotted;
        border-right: none;

    }

    #info-text {
        font-size: 22px;
    }
    
    #info-bar {
        float: 6;
        text-align: left;
        padding-left: 0;
    }
    
    #discription {
        height: auto;
        overflow-y: visible;
        margin-top: 16px;
        border: none;
        padding: 0;

    }
        #discription p {
            max-width: 300px;
            font-size: 22px;
            margin-top: 15px;
        }
    
    #scroll {
        display: none;
    }
}