main {
    display: flex;
    justify-content: center;
}

.column{
    margin: 12px 24px 24px;
}
    #formal-info {
        flex: 3;
    }
    #informal-info {
        flex: 6;
    }

.formal-info-text {
    border-right: 4px black solid;
}
    .formal-info-text img {
        padding: 12px 12px 12px 0;
        filter: grayscale(100%);
        transition: filter 0.3s ease;
    }
    .formal-info-text img:hover {
        filter: grayscale(0%);
    }
#feat-formal-discription {
    font-size: 18px;
}
    #feat-informal-discription{
    padding-top: 34px;
}

@media screen and (max-width: 768px) {

    main {
        display: block;
    }
    h2 {
        font-size: 50px;
    }
    #feat-formal-discription {
    }
    #feat-informal-discription {
        font-size: 20px;
    }
}
