main {
    display: flex;
    justify-content: center;
}

.container {
    width: 20vw;
    min-width: 280px;
    padding: 40px;
}
    #feat-container {
        width: 30vw;
    }
    .feat-post-link {
        color: inherit;
        display: block;
        transition:  0.3s ease;
        text-decoration: underline;

        }
        .feat-post-link:hover  {
            text-decoration: none;
            color: black;
            box-shadow: 15px 15px 0px #000000; /* SHADOW */

        }
    .feat-post-container {
        height: 60vh;
        border: 4px black solid;
        padding: 12px;
        overflow: hidden;
        position: relative;
        color: white;
        transition:  0.3s ease;
    }
    .feat-post-container:hover {
        color: black;
    }
        .feat-content {
            transform: translateY(100%);
            animation: scroll-up 50s linear infinite;
         }
            @keyframes scroll-up {
                from {
                    transform: translateY(28%);
                }
                to {
                    transform: translateY(-100%);
                }
            }
            .feat-content img {
                filter: grayscale(100%);
                transition: filter 0.3s ease;
                padding-top: 12px;
            }
            
            
            .feat-content img:hover {
                filter: grayscale(0%);
            }
            #feat-type {
                text-decoration: underline;
                text-align: center;
                padding-bottom: 8px;
                color: black;
            }
        #feat-formal-discription {
            font-size: 15px;
            padding: 6px 0 12px;
        }
        #feat-informal-discription {
            padding: 12px 0 12px;
        }
    #click {
        font-size: 18px;
        text-align: center;
        margin-top: 12px;
    }

.link-container {
    text-align: right;
    padding: 15px;
    border-right: 4px black solid;
}
    .link-container a {
        font-size: 22px;
        background-color: black;
        color: white;
        padding: 12px;
        display: inline-block;
        margin-bottom: 10px; /* space between links */
        border: 4px black solid;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    .link-container a:hover {
        background-color: white;
        color: black;
        text-decoration: underline;
    }

/* Responsive Styles */
@media screen and (max-width: 1041px) {
    main {
        display: block;
        padding-bottom: 30px;
    }

    .container {
        width: 100%;
        padding: 10px 40px 20px;

    }
    .feat-post-link {
        width: 100%;
        text-decoration: none;
        transition: 0.3s ease;
        }
        .feat-post-link:hover  {
            box-shadow: 15px 15px 0px #000000; /* SHADOW */
            color: black;

        }
    .feat-post-container {
        height: 100%;
        color: black;
    }
    .feat-post-container:hover {
        color: black;
    }
    
        .feat-content {
            transform: translateY(0%); /* Start the content below the container */
            animation: none;
         }
            .feat-content hr {
                display: none;
            }
            .feat-content img {
                display: none;
            }
        #feat-informal-discription {
            display: none;
        }
    .link-container {
        justify-content: center;
        display: flex;
        margin-bottom: -20px ;
        padding: 15px 15px 0;
        border-right: 4px black solid;
        flex-wrap: wrap;

    }
        .link-container a {
            margin: 12px 12px;
            padding: 12px;
            font-size: 26px;
            background-color: black;
            color: white;
            display: inline-block;
            white-space: nowrap;
            border: 4px black solid;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }
        .link-container a:hover {
            background-color: white;
            color: black;
            text-decoration: underline;
        }
    
}

@media screen and (max-width: 625px) {
    .link-container {
        justify-content: center;
        text-align: center;
        width: 100%; /* Ensure each link container takes up the full width */
        display: block; /* Ensure containers stack vertically */
        padding: 15px 0;
        border-right: 4px black solid;
        flex-wrap: wrap;
    }
    .link-container {
    }
    
    .link-container a {
        display: block;
        margin-bottom: 0;
        font-size: 26px;
        padding: 12px;
        text-decoration: none;
        background-color: black;
        color: white;
        border: 4px solid black;
        transition: background-color 0.3s ease;
    }
    

}