:root {
    --1: #ffffff;
    --2: #000000;
}
main {
    padding: 70px 100px;
    color: var(--1);
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  thead {  
    text-align: left;  
  }
  th, td {
    border-bottom: 2px var(--1) solid;
    padding: 12px 10px;
  }
@media screen and (max-width: 500px) {
  main {
    padding: 40px 10px;
  }
}