@font-face {
    font-family: 'pixel-mono';
    src: url('../src/fonts/PixelOperatorMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'pixel-mono';
    src: url('../src/fonts/PixelOperatorMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
:root {
    --primary-color: #689D6A;
    --background-color: #001711;
}
body {
    max-width: 970px;
    margin: 0 auto;
    padding: 20px; 
    padding-top: 0;
    text-align: center;
    
    font-family: pixel-mono;
    background-color: var(--background-color);
    color: var(--primary-color);
}
#info {
    font-weight: bold;
    padding-left: 10px;
}
#top {
    padding-top: 20px;
    display: flex;
    
    justify-content: center;
    align-items: center;

    border-top: 1px solid var(--primary-color);

}
    #logo {
        font-weight: normal;
        white-space: pre;
        padding-right: 20px;
        font-size: 12px;
    }
    #cover {
        text-decoration: none;
        padding-right: 20px;
        font-size: 12px;
    }
    #data {
        font-weight: normal;
        white-space: pre;
        text-align: center;    
    }
#about {
    margin: 0;
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid var(--primary-color);

}
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
    footer p {
        padding: 12px;
    }
    footer p a {
        padding: 0 10px;
        color: var(--primary-color);
    }
@media screen and (max-width: 992px) {
    #top {
        display: flex;
    }
    #logo {
        display: none;
    }
    #data {
        display: block;
    }
}

@media screen and (max-width: 660px) {
    body {
        min-width: 300px;
        padding: 0 10px;
        width: calc(100vw - 40px);
        align-items: center;
    }
    #top {
        display: block;   
    }
    #data {
        display: inline-block;
    }
    #top {
        display: block;
    }
}
