:root {
    --1: #ffffff;
    --2: #000000;
}

main {
    display: flex;
    justify-content: center;
}
h2 {
    color: var(--1);
}

.container {
    width: 20vw;
    min-width: 280px;
    padding: 40px;
}
    #feat-container {
        width: 30vw;
    }
    .feat-post-link {
        color: inherit;
        display: block;
        transition:  0.3s ease;
        text-decoration: underline;
        box-shadow: 10px 10px 0px var(--1); 
        }
        .feat-post-link:hover  {
            text-decoration: none;
            color: var(--1);
            box-shadow: 15px 15px 0px var(--1); /* SHADOW */

        }
    .feat-post-container {
        height: 52vh;
        border: 2px var(--1) solid;
        padding: 12px;
        overflow: hidden;
        position: relative;
        color: var(--1);
        transition:  0.3s ease;
    }
    .feat-post-container:hover {
        color: var(--1);
    }
    .feat-content {
        animation: scroll-animation 31s linear infinite;
    }
        @keyframes scroll-animation {
        0% {
            transform: translateY(50vh);
        }
        100% {
            transform: translateY(-100%);
        }
    }
            
            .feat-content img {
                filter: grayscale(100%);
                transition: filter 0.3s ease;
                padding-top: 12px;
            }
            
            
            .feat-content img:hover {
                filter: grayscale(0%);
            }
            #feat-type {
                text-decoration: underline;
                text-align: center;
                padding-bottom: 8px;
                color: var(--1);
            }
        #feat-formal-discription {
            font-size: 15px;
            padding: 6px 0 12px;
        }
        #feat-informal-discription {
            padding: 12px 0 12px;
        }
    #click {
        font-size: 18px;
        text-align: center;
        margin-top: 12px;
    }

.link-container {
    text-align: right;
    height: 52vh;
    padding: 15px;
    border-right: 2px var(--1) solid;
}
    .link-container a {
        font-size: 20px;
        color: var(--1);
        display: inline-block;
        margin-bottom: 3px; /* space between links */
        text-decoration: underline;
        transition: 0.3s;
    }
    .link-container a:hover {
        padding: 12px;

        background-color: var(--1);
        color: var(--2);
        font-size: 25px;
    }

/* Responsive Styles */
@media screen and (max-width: 1041px) {
    main {
        display: block;
        padding-bottom: 30px;
    }

    .container {
        width: 100%;
        padding: 10px 40px 20px;

    }
    .feat-post-link {
        width: 100%;
        text-decoration: none;
        box-shadow: 10px 10px 0px var(--1); /* SHADOW */
        transition: 0.3s ease;
        }
        .feat-post-link:hover  {
            box-shadow: 15px 15px 0px var(--1); /* SHADOW */
            color: var(--1);

        }
    .feat-post-container {
        height: 100%;
        width: 100;
        color: var(--1);
    }
    .feat-post-container:hover {
        color: var(--1);
    }
    
        .feat-content {
            transform: translateY(0%); /* Start the content below the container */
            animation: none;
         }
            .feat-content hr {
                display: none;
            }
            .feat-content img {
                display: none;
            }
        #feat-informal-discription {
            display: none;
        }
        .link-container {
            justify-content: center;
            text-align: center;
            width: 100%;
            height: 100%;
            display: block;
            padding: 15px;
            border-right: 2px var(--1) solid;
            flex-wrap: wrap;
        }
        .link-container a {
            display: block;
            margin-bottom: -18px;
            font-size: 26px;
            padding: 12px;
            text-decoration: none;
            background-color: var(--1);
            color: var(--2);
            border: 2px solid var(--1);
            transition: background-color 0.3s ease;
        }
        .link-container a:hover {
            background-color: var(--2);
            font-size: 26px;

            color: var(--1);
            text-decoration: underline;
        }
    
}