body {
    font-family: monospace;
    background-color: #2b3137;
    color: #93B1A6;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden; /* Disable vertical (and horizontal) scrolling */
}
hr {
    height: 2px;
    background-color: #ccebe0;
    border: none;
    margin: 10px 0;
}

#terminal {
    width: 60vw;
    height: calc(100vh - 100px);
    margin: 20px;
    padding: 20px;
    margin: 25px 45px 45px 25px;
    min-width: 325px;

}

.text {
    margin-top: 0px;
    background-color: #040D12;
    border-radius: 10px;
    padding: 25px 50px;
    height: calc(100% - 55px);
    overflow: auto;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    font-size: 14px;
}

#output {
    overflow-y: auto;
    padding-bottom: 0px;
    font-size: 15px;
}

#input-container {
    display: flex;
}

/* text area */
.text-container {
    background-color: #040D12;
    font-family: monospace;
    font-size: 15px;
    color: #9cafa8;
    width: 370px;
    outline: none;
    border: none;
    margin-top: 0px;
}

/* text next to text area */
#input-container span {
    font-size: 15px;
    padding-top: 5px;
    margin-right: 1px;
    color: #b6c9c2;
}

/* Brighter text*/
.color1{
    color: #872341;
}

/* Darker text*/
.color2{ 
    color: #183D3D;
}