body {
    background-color: white;
    color: black;
    font-family: pixel;
    padding: 40px 20vw;
}
.link {
    color: red;
}

@media screen and (max-width: 500px) {
    body {
        padding: 40px 5vw;
    }
}