:root {
    --1: #333333;
    --2: #FFFFFF;
}

body {
    background-color: var(--1);
    color: var(--2);
    padding: 40px calc(20vw + 10px);
}
.link {
    color: red;
}

@media screen and (max-width: 830px) {
    body {
        padding: 40px calc(5vw + 10px);
    }
}