@font-face {
    font-family: 'nerd-mono';
    src: url('../src/fonts/AnonymousPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nerd-mono';
    src: url('../src/fonts/AnonymousPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'nerd-mono';
    src: url('../src/fonts/AnonymousPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'nerd-mono';
    src: url('../src/fonts/AnonymousPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: nerd-mono;
    line-height: 1.2;
    background-color: #2E3440;
    color: #ECEFF4;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden; /* Disable vertical (and horizontal) scrolling */
}
hr {
    height: 2px;
    background-color: #ECEFF4;
    border: none;
    margin: 10px 0;
}

#terminal {
    width: 95vw;
    height: calc(100vh - 50px);
    margin: 20px 45px 50px 50px;
    min-width: 325px;
    border: 2px solid #4C566A;
    border-radius: 9px;

}

.text {
    margin-top: 0px;
    background-color: #2E3440;
    border-radius: 10px;
    padding: 3px 10px;
    height: calc(100% - 10px);
    overflow: auto;
    overflow-y: auto;
    font-size: 14px;
}

#output {
    overflow-y: auto;
    padding-bottom: 0px;
    font-size: 14px;
}

#input-container {
    display: flex;
}

/* text area */
.text-container {
    background-color: #2E3440;
    font-family: nerd-mono;
    font-size: 14px;
    color: #efefeb;
    width: 370px;
    outline: none;
    border: none;
    margin-top: -0.5px;
    margin-left: 1px;
}

/* text next to text area */
#input-container span {
    font-size: 14px;
    padding-top: -0.6px;
    margin-right: -3px;
    color: #EC8663;
}

#user {
    padding-right: 3px;
}

/* Brighter text*/
.color1{
    color: #BF616A;
}

/* Darker text*/
.color2{ 
    color: #4C566A;
}

.color3 {
    color: #EC8663;
}

/* PHONE LAYOUT */
@media screen and (max-width: 720px) {
    #terminal {
        width: 100vw;
        height: 102vh;
        margin: 0px;
        padding: 0px;
        border: none;
    }

    .text {
        font-size: 12px;
        padding: 25px 10px;
        border-radius: 0px;
    }

    #output {
        font-size: 12px;
    }

    .text-container {
        font-size: 12px;
    }
    .text-container span {
        font-size: 12px;
    }

    #input-container span {
        font-size: 12px;
    }
}