@font-face {
    font-family: 'nerd-mono';
    src: url('../fonts/AnonymousPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nerd-mono';
    src: url('../fonts/AnonymousPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'nerd-mono';
    src: url('../fonts/AnonymousPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'nerd-mono';
    src: url('../fonts/AnonymousPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
