.note {
    display: block;
    max-width: 720px;
    margin: 0 auto;

    > h1 {
        font-size: 30px;
    }
    .large-image {
        max-width: 100%; /* Ensure the image scales with the container */
    }
    .small-image {
        max-width: 300px;
    }
    a {
        text-decoration: underline;
        color: var(--foreground-color);
    }
    a:hover {
        text-decoration: none;
        color: var(--background-color);
        background-color: var(--foreground-color);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        th:first-of-type,
        td:first-of-type {
            border-right: var(--border);
        }
        th,
        td {
            padding: 7px;
            border-bottom: var(--border);
        }
        th {
            text-align: center;
        }
    }
}

@media screen and (max-width: 820px) {
    .note {
        padding-bottom: 30px;
        font-size: 15px;
    }
}
